@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap" rel="stylesheet");
*{
    font-family: 'Istok Web', sans-serif;
}
body {
    margin: 0px;
}
.spotify {
    width: 15%;
    height: 20%;
    padding: 7px 0px 7px 0px;
}
.spotify:hover{
    animation: bounce;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
}

nav ul {
    width: 350px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

nav a {
    justify-content: space-between;
    text-decoration: none;
    color: rgb(80, 80, 80);
}
header > div {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#section1{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: url('https://raw.githubusercontent.com/bdmelo21/lab-css-spotify-clone/master/images/landing.jpg') no-repeat;
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    color: whitesmoke;
    text-align:center;
}

#section1 > h1 {
    font-size: 60px;
    font-weight: bolder;
    margin: 0px;
}

#section1>p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.25px;
}

#section2 {
    display:flex;
    justify-content: center;
}

#section2>h2 {
    text-align: center;
    border-color: teal;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    position: absolute;
}

.imagem {
   width: 30%;
   height: 30%;
}

h3 {
    text-align: center;
    color: teal;
}

#section2 > article > p {
    color: rgb(50, 50, 50);
    text-align: center;
}

#section2 > article {
    display:flex;
    justify-content: center;

}

#section2 > div {
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    position: relative;
}



@keyframes bounce {
    0%, 100%, 50%, 80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-5px)
    }
    60% {
        transform: translateY(-5px)
    }