@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap" rel="stylesheet");
*{
    font-family: 'Istok Web', sans-serif;
}
body {
    margin: 0px;
}
.spotify {
    width: 15%;
    height: 20%;
    padding: 7px 0px 7px 0px;
}
.spotify:hover{
    animation: bounce;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
}

nav ul {
    width: 350px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

nav a {
    justify-content: space-between;
    text-decoration: none;
    color: rgb(80, 80, 80);
}
header > div {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#section1{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: url('../images/landing.jpg') no-repeat;
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    color: whitesmoke;
    text-align:center;
}

#section1 > h1 {
    font-size: 60px;
    font-weight: bolder;
    margin: 0px;
}

#section1>p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.25px;
}

#section2 {
    display:flex;
    justify-content: center;
}

#section2>h2 {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    border-color: rgb(26, 177, 106);
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    position: absolute;
}

.imagem {
   width: 50%;
   height: 50%;
}

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: rgb(26, 177, 106);
}

.section2article> p {
    color: rgb(50, 50, 50);
    text-align: center;
    font-size: 24px;
    margin-right: 50px;
    margin-left: 50px; 
}

.section2div {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 120px;
    display:flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 120px;
}

.section2article{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

#section3 {
    display:flex;
    background-color:rgb(26, 177, 106);
    justify-content: space-around;
    align-items: center;
    color:white;

}

h4 {
    font-size: 35px;
    font-weight: bold;
    border-color: white;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 60px;
}
.section3article {
    margin-bottom: 60px;
}

h5 {
    font-size: 28px;
}

.section3article > p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
}

.section3div {
    margin-bottom: 50px;
}

.logwhite {
    width: 100px;
    height: 100px;
}
.kanyescreenshot {
    width: 360px;
}

@keyframes bounce {
    0%, 100%, 50%, 80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-5px)
    }
    60% {
        transform: translateY(-5px)
    }